@charset "utf-8";
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
/* header start */
#finger_header{
	width:100%;
	height:100vh;
}

#finger_header > .header{
	position:fixed;
	top:0px;
	left:0px;
	width:90%;
	padding:40px 5%;
	z-index:3;
  color:#fff;
  transition:all .5s;
}
#finger_header > .header.active{
  padding:24px 5%;
  background:#fff;
  color:#34363F;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.2);
}
/*header左边的logo*/
.header .finger_logo{
	float:left;
	/* width:30%; */
  height:28px;
}
.header .finger_logo > img.logo{
	height:28px;
}

.header .finger_logo > img.logo_text{
	height:15px;
	margin-left:15px;
	vertical-align:5px;
}

/*header右边的nav*/
.header .h_nav{
	float:right;
  line-height:28px;
}
.header .h_nav > ul{
}
.header .h_nav > ul > li{
	float:left;
	margin-left:35px;
}
.header .h_nav > ul > li > a{
	font-size:14px;
	color:inherit;
}
.header .h_nav > ul > li:nth-of-type(1) > a{
  font-weight:bold;
}
.header .h_nav > ul > li > a:hover{
  color:red;
}

.header_banner{
	position:fixed;  
	top:0px;
	left:0px;
  height:100vh;
	width:100%;
  overflow:hidden;
}

.header_banner > ul.slideBox{
  transition:transform .5s;
  width:300%;
  display:flex;
}

.header_banner > ul > li{
  width:100%;
	height:100vh;
}

.header_banner > ul > li:nth-of-type(1){
	background:url("../images/website-banner1.jpg") no-repeat center;
	background-size:cover;
}
.header_banner > ul > li:nth-of-type(2){
	background:url("../images/website-banner2.jpg") no-repeat center;
	background-size:cover;
}
.header_banner > ul > li:nth-of-type(3){
	background:url("../images/website-banner3.jpg") no-repeat center;
	background-size:cover;
}

/*轮播图上的各种图标*/ 
.header_banner .header_info{
	position:absolute;
	right:100px;
	bottom:45px;
	z-index:1;
}
.header_banner .header_info > a > img{
	width:150px;
	height:42px;
	margin-left:15px;
}
.header_banner .header_info > a.QRCode > img{
	width:50px;
}
/*二维码隐藏起来*/
.header_banner .header_info .hide{
	display:none;
	position:absolute;
	right:-18px;
	top:-122px;
	z-index:1;
}
.header_banner .header_info .hide > img{
	width:100px;
	height:100px;
}
/* hover上去二维码出现 */
.header_banner .header_info > a:hover + .hide{
	display:block;
}
.header_banner > span.iconfont{
	display:block;
	position:absolute;
	top:50%;
	margin-top:-23.5px;
	width:50px;
	height:70px;
	z-index:2;
	cursor:pointer;
}

/*轮播图上left按钮 */
.header_banner .icon_prev{
	left:60px;
}

/*轮播图上right按钮*/
.header_banner .icon_next{
	right:60px;
}

.header_banner .iconfont{
	font-size:50px;
	color:#fff;
}

/*轮播图上小方块颜色的变动*/
.header_banner .dots{
	position:absolute;
	bottom:57px;
	left:50%;
	margin-left:-82px;
	width:165px;
	height:10px;
}

.header_banner .dots > span.dotsBtn{
	display:inline-block;
	width:39px;
	height:10px;
	margin:0px 5px;
	border:1px solid #fff;
	background:#000;
	cursor:pointer;
}

.header_banner .dots > span.dotsBtn.active{
	background:#fff;
}
.header_banner > span.iconfont:hover{
  background:rgba(0,0,0,.3);
}


/*finger main start*/

#finger_main{
	position:relative;
	overflow:hidden;
	width:100%;
	background:#f7f7f7;
}

.main{
	width:1200px;
	margin:0 auto;
}

/*主体的第一部分*/
.main > h1{
	margin:100px 0 20px 0;
	text-align:center;
	font-weight:normal;
}

.main > p{
	text-align:center;
	font-size:18px;
	margin-bottom:20px;
}

.main > ul.productList{
  margin-top:80px;
  
}

.main > ul.productList > li{
  position:relative;
	float:left;
	width:220px;
	height:330px;
	background:#fff;
	margin-right:25px;
}

.main > ul > li:last-of-type{
	margin-right:0px;
}

.main > ul > li > span.iconfont{
  position:absolute;
  top:50px;
  left:70px;
	display:block;
	width:80px;
	height:80px;
	background:#e5343e;
	border-radius:50%;
	font-size:50px;
	text-align:center;
	line-height:80px;
	color:#fff;
  z-index:2;
}

.main > ul > li > p{
	text-align:center;
  position:absolute;
  width:100%;
  z-index:2;
}

.main > ul > li > p:first-of-type{
	font-size:20px;
	font-weight:800;
  top:150px;
}

.main > ul > li > p:last-of-type{
	color:#242424;
  font-weight:100;
  box-sizing:border-box;
	padding:0px 15px;
  top:200px;
}

.main > ul > li > .finger_live{
  position:absolute;
  left:0px;
  bottom:0px;
	width:100%;
	height:5px;
	background:#e5343e;
  transition:height .4s;
}

/*produceList active style  */

.main > ul.productList > li.active{
}
.main > ul.productList > li.active > span.iconfont{
	background:#fff;
	color:rgb(229,52,62);
}
.main > ul.productList > li.active > p{
	color:#fff;
}
.main > ul.productList > li.active >  .finger_live{
  background:#242424;
  height:330px;  
}


/*主体的第二部分：讲师案例*/
#finger_main .finger_case{
	width:100%;
	height:520px;
	margin-top:70px;
	padding:71px 0 67px;
	background:url('../images/website-recruit-bg.jpg') repeat-y 0px -521.4px;
	background-size:cover;
	color:#fff;
}

.finger_case > h1{
	text-align:center;
}

.finger_case > p{
  margin:20px 0 30px;
	font-size:18px;
	text-align:center;
}

.finger_case > ul{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.finger_case > ul > li{
	width:182px;
  margin:0 1%;
}

.finger_case > ul > li > .teacherBox{
  position:relative;
}
.finger_case > ul > li > .teacherBox > .teacherTop{
  width:100%;
  height:249px;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  transition:all .4s;
}
.finger_case > ul > li.active > .teacherBox > .teacherTop{
  background:rgba(255,0,0,.5);
}
.finger_case > ul > li > .teacherBox > img{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
	display:block;
  height:249px;
  width:182px;
}
.finger_case > ul > li > .teacherBox > .teacherIntro {
  position:absolute;
  z-index:2;
  top:267px;
  width:100%;
  transition:all .4s;
}
.finger_case > ul > li.active > .teacherBox > .teacherIntro{
  color:#fff;
  transform:translateY(-199px);
  font-weight:bold;
}
.finger_case > ul > li > .teacherBox > .teacherIntro > p{
	font-size:16px;
	text-align:center;
}
.finger_case > ul > li > .teacherBox > .teacherIntro > p:first-of-type{
  margin-bottom:5px;
}
.finger_case > ul > li > .teacherBox > .teacherIntro > p:last-of-type{
	font-size:13px;
}
.finger_case > ul > li > .teacherBox > .teacherMore{
  font-size:12px;
  position:absolute;
  top:210px;
  width:100%;
  padding-bottom:10px;
  border-bottom:1px solid red;
  text-align:center;
  opacity:0;
  transition:all .4s;
  z-index:0;
}
.finger_case > ul > li.active > .teacherBox > .teacherMore{
  transform:translateY(56px);
  opacity:1;
}

.finger_case > span{
	display:block;
	width:200px;
	height:42px;
	margin:360px auto 70px;
	background:#e5343e;
	border-radius:60px;
	line-height:42px;
	color:#fff;
	font-size:18px;
	text-align:center;
  cursor:pointer;
}

/*主体的第三部分:精品视频课程*/
.finger_pgc{
	width:100%;
	padding-top:90px;
	background:#f7f7f7;
}

.finger_pgc > h1{
	font-weight:500px;
	text-align:center;
}

.finger_pgc > p{
	text-align:center;
	font-size:16px;
	margin-bottom:160px;
	margin-top:15px;
}

.finger_pgc .finger_container{

	width:100%;
	height:640px;
	background:url("../images/website-pgc-bg.jpg") no-repeat center center;
	background-size:cover;
}
.finger_course{
  margin-top:200px;
}
.finger_course > ul{	
	position:relative;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  transform:translateY(-125px);
}

.finger_course > ul > li{
	width:420px;
	height:310px;
  overflow:hidden;
	box-shadow:0px 0px 3px 3px #aaa;
	margin-left:3px;
  transition:all .3s;
  position:relative;
}

.finger_course > ul > li > a{
  position:absolute;
	display:inline-block;
	color:#fff;
  z-index:1;
  margin:10px 5px;
}

.finger_course > ul > li > a > h1{
	font-size:22px;
}

.finger_course > ul > li > a > h2{
	font-weight:normal;
}

.finger_course > ul > li > a > h3{
	display:inline-block;
	height:28px;
	margin-top:130px;
	font-size:20px;
	background:#000;
	line-height:28px;
	padding:5px;
}

.finger_course > ul > li > a > p{
	font-size:18px;
}
.finger_course > ul > li > a > h3 span:first-of-type{
	margin-right:8px;
	color:#3ea9be;
}
.finger_course > ul > li:nth-of-type(2) h3{
	margin-top:160px;
}
.finger_course > ul > li > .bgImg{
  width:100%;
  height:310px;
  position:absolute;
  top:0;
  left:0;
  transition:transform .3s;
}
.finger_course > ul > li:nth-of-type(1)> .bgImg{
	background:url("../images/website-course1.jpg") no-repeat center center;
	background-size:cover;
}
.finger_course > ul > li:nth-of-type(2) > .bgImg{
	background:url("../images/website-course2.jpg") no-repeat center center;
	background-size:cover;
}
.finger_course > ul > li:nth-of-type(3) > .bgImg{
	background:url("../images/website-course3.jpg") no-repeat center center;
	background-size:cover;
}
.finger_course > ul > li.active > .bgImg{
  transform-origin:center;
  transform:scale(1.1);
}

/*时间训练*/
.finger_stytime{
	overflow:hidden;
	width:1250px;
	margin:-20px auto 0;
}

.finger_stytime .left_time{
	float:left;
	width:40%;
	height:250px;
	
}

.finger_stytime .left_time > h1{
	color:rgba(255, 255, 255, 0.3);
	border-left:8px solid red;
	border-right:8px solid red;
	font-size:20px;
	padding-left:50px;
}

.finger_stytime .left_time .info{
	padding-left:50px;
}

.finger_stytime .left_time .info > p{
	font-weight:bold;
	color:#fff;
}
.finger_stytime .left_time .info > p > span{
	font-size:50px;
}

.finger_stytime .left_time .info .point {
	float:left;
	width:80px;
	margin-top:30px;
}

.finger_stytime .left_time .info div > span{
	font-size:30px;
	color:#fff;
}
.finger_stytime .left_time .info div > h2{
	text-align:center;
	color:rgba(255, 255, 255, 0.3);
}

.finger_stytime .left_time .info .date {
	float:left;
	width:85px;
	margin-top:30px;
	margin:30px 76px 0 50px;
	color:#fff;
}

.finger_stytime .right_time{
	float:right;
	width:60%;
	height:250px;
}

.finger_stytime .right_time h1{
	font-size:20px;
	padding-left:50px;
	color:rgba(255, 255, 255, 0.3);
}
.finger_stytime .right_time .study{
  position:relative;
  height:220px;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  overflow:hidden;
}
.finger_stytime .right_time .study > .timeBar{
  position:relative;
	height:20px;
  margin:10px 0;
}
.finger_stytime .right_time .study > .timeBar > .timeBar-inner{
  position:relative;
  height:100%;
  transition:transform 1s;
  transform:translateX(135%);
	background:#e54e5c;
}
.finger_stytime.offset .right_time .study > .timeBar > .timeBar-inner{
  transform:translateX(0);
}

.finger_stytime .right_time .study > .timeBar > .timeBar-inner > span{
	position:absolute;
  top:0;
	left:-50px;
	display:inline-block;
	height:20px;
	color:#969696;
	
}
.finger_stytime .right_time .study .timeBar:nth-of-type(1) > .timeBar-inner{
	width:150px;
}
.finger_stytime .right_time .study .timeBar:nth-of-type(2) > .timeBar-inner{
	width:200px;
}
.finger_stytime .right_time .study .timeBar:nth-of-type(3) > .timeBar-inner{
	width:350px;
}
.finger_stytime .right_time .study .timeBar:nth-of-type(4) > .timeBar-inner{
	width:550px;
}
.finger_stytime .right_time .study .timeBar:nth-of-type(5) > .timeBar-inner{
	width:300px;
}

/*主体第四部分:定时器轮播图*/ 
#finger_main .finger_main_banner{	
	width:100%£»
}

.finger_main_banner > h1{
	margin-top:120px;
	font-weight:normal;
	text-align:center;
}

.finger_main_banner > p{
	margin-top:20px;
	margin-bottom:50px;
	font-size:18px;
	text-align:center;
}

.main_banner{	
	width:100%;	
	height:700px;
	background:url("../images/website-tool-bg.jpg") no-repeat center center;
	background-size:cover;
}

.main_banner .banner{
	position:relative;
	width:100%;
	height:100%;
	margin:0px auto;
}
.banner > ul{
	position:absolute;
	top:0px;
	overflow:hidden;
	width:400%;
	height:100%;
}

.banner > ul > li{
	position:relative;
	float:left;	
	width:1540px;	
	height:700px;
}

/*轮播图左边的图片*/
.banner > ul > li > .pic{
	position:absolute;
	left:170px;
	bottom:0px;
	width:375px;
	height:525px;
}

.banner > ul > li > .pic > img{
	width:100%;
}

/*轮播图右边的内容部分*/
.banner > ul > li > .content{
	position:absolute;
	top:390px;
	left:870px;
	color:#fff;
}


.banner .dot{
	position:absolute;
	left:870px;
	top:343px;
	width:93px;

}

.banner .dot > span{
	display:inline-block;
	width:15px;
	height:15px;
	margin-left:12px;
	border-radius:50%;
	background:#fff;
}

.banner .dot > span:first-of-type{
	background:#e54e5c;
}

.banner > ul > li > .content > h1{
	margin-bottom:30px;
	font-size:36px;
}

.banner > ul > li > .content > h2{
	font-size:24px;
	font-weight:normal;
}

/* footer start */
#finger_footer{
	position:relative;
	width:100%;
	background:#f7f7f7;
}

#finger_footer .footer{
	position:relative;
	width:1200px;
	margin:0px auto;
	height:150px;
}

.footer .f_logo{
	height:28px;
	padding-top:70px;
}

.footer .f_logo > img{
	height:100%;
}

.footer .f_title{
	overflow:hidden;
	height:18px;
	margin:30px 0;
}

.footer .f_title > img{
	float:left;
	height:100%;
}

.footer .f_title .icon{
	float:right;
}

.footer .f_title .icon > a{
	margin-left:50px;
}

.footer .hide{
	display:none;
	position:absolute;
	top:15px;
	right:70px;
}

.copyright{
	width:100%;
  padding:30px 0;
	margin-top:30px;
	background:#1c1c1c;
	text-align:center;
	color:#6f6f6f;
	font-size:12px;
}
.copyright > p{
  margin:5px 0;
}
