/* navigation style */
.header{
	position:fixed;
	top:0px;
	left:0px;
	width:90%;
	padding:40px 5%;
	z-index:3;
  color:#fff;
  transition:all .5s;
}
.header.active{
  padding:24px 5%;
  background:#fff;
  color:#34363F;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.2);
}
/*header左边的logo*/
.header .finger_logo{
	float:left;
	/* width:30%; */
  height:28px;
}
.header .finger_logo > img.logo{
	height:28px;
}
.header .finger_logo > img.logo_text{
	height:15px;
	margin-left:15px;
	vertical-align:5px;
}
/*header右边的nav*/
.header .h_nav{
	float:right;
  line-height:28px;
}
.header .h_nav > ul > li{
	float:left;
	margin-left:35px;
}
.header .h_nav > ul > li > a{
	font-size:14px;
	color:inherit;
}
.header .h_nav > ul > li > a.active{
  font-weight:bold;
}
.header .h_nav > ul > li > a:hover{
  color:red;
}

